---
layout: default.njk
---

<div class="container">
    <div class="row">
        <div class="col-12 pt-4">
            <a class="btn btn-primary" href="{{ '/' | relative }}">Back</a>

            <h1 class="mt-3">This is a post</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem nam illum repellat facilis ipsum,
                cupiditate laudantium saepe molestiae animi assumenda voluptate modi quaerat ad labore debitis
                aspernatur neque, atque architecto.
            </p>
        </div>
    </div>
</div>
