---
layout: default.njk
---

<div class="container">
    <div class="row">
        <div class="col-12 pt-4">
            <a class="btn btn-primary" href="{{ 'posts/post1' | relative }}"> Post 1 </a>
            <h1 class="mt-4">11ty Barebones</h1>

            <img class="home-image" src="{{ '/assets/img/robot.jpg' | relative }}" alt="" />
        </div>
    </div>
</div>
