---
layout: default.njk
---

<div class="container">
    <div class="row">
        <div class="col-12 pt-4">
            <a class="btn btn-primary" href="{{ 'posts/post1' | relative }}"> Post 1 </a>
            <h1 class="mt-4">11ty Barebones</h1>

            <div class="robot-image">
                {% image 'src/_assets/img/robot.jpg', "robot", [300, 600, 1200], "(max-width: 900px) 300px, (max-width: 1200px) 600px, 1200px" %}
            </div>
        </div>
    </div>
</div>
